* {
    border-radius: 0 !important;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #413333;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

.jumbotron {
    padding: 30px;
    margin: 0;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
}

/* Header CSS */
#showcase {
    height: 100vh;
    background: url("../img/camping-view.jpg") bottom center / cover no-repeat;
    position: relative;
}
#header {
    z-index: 2;
}
#overlay {
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Colors */
.dark-brown {
    color: #140d07;
}
.dark-brown-bg {
    background-color: #140d07;
}
.medium-brown {
    color: #987554;
}
.medium-brown-bg {
    background-color: #987554;
}
.light-brown {
    color: #ada49c;
}
.nucamp-pink {
    color: #ac44a4;
}
.nucamp-blue {
    color: #0a9cdc;
}
.btn-primary {
    background: #987554;
    color: #140d07;
    border-color: #140d07;
}
.btn-primary:hover {
    background: #ada49c;
    color: #140d07;
    border-color: #140d07;
}
.border-darkbrown {
    border: 3px solid #140d07;  
}

/* Navigation Bar */
.navbar {
    background-color: #413333;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

/* Carousel CSS */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel {
    border: solid #140d07;
}

/* Remove Blue and Underline Styling on Accordian Interface for Community Partners Section */
a, a:hover {
    color: inherit;
    text-decoration: none;
}

/* Tab Interface for Community Partners Section
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
*/

.site-footer{
    background-image: linear-gradient(#987554, #C39B77);
    padding: 20px 0;
}